body {
    padding:0;
    text-align:center;
}
div{
    margin: auto;
    text-align:center;
}
#parrafo {
  border: solid 1px #353e4c;
  border-radius: 10px;
  width: 50%;
}

#form {
  border: solid 1px #353e4c;
  border-radius: 10px;
  width: 50%;
}
input{
  margin: 10px 0px;
}

.enviar {
  margin: 0px 5px;
}
label{
  font-weight: bold;
}
#inlineinput {
  display: flex;
  width: 30%;
}
